.balance-div {
  color: #3b0a79;
  font-size: 35px;
  text-align: center;
  margin-top: 20%;
}

.add-balance-btn {
  width: max-content;
  text-align: center;
  margin-left: 30%;
  margin-top: 20%;
}

.title-separator {
  margin-top: 0px;
  color: #3b0a79;
  height: 3px !important;
}

.right-section-card-title {
  text-align: center;
  color: #3b0a79;
  font-size: 25px;
}
