.navbar-colour {
  background-color: #3b0a79;
}

.siteName {
  font-weight: bold;
  margin-left: 40px;
  font-style: normal;
  font-size: 23px;
}

.logoutBtn {
  margin: auto;
  width: auto;
  color: white;
  text-decoration: none;
  font-size: larger;
}

.userName {
  margin-left: 80%;
}
