.title-separator {
  margin-top: 0px;
  color: #3b0a79;
  height: 3px !important;
}

.friend-section-card-title {
  text-align: center;
  color: #3b0a79;
  font-size: 25px;
}

.friends-text {
  color: #3b0a79;
  font-size: 18px;
}

.friends-card {
  bottom: 24px;
}
