.brandName {
  font-weight: bold;
  margin-left: 40px;
  font-size: 23px;
}

.btn-login {
  text-decoration: none;
  color: white;
  font-size: larger;
  float: right;
  font-weight: 500;
}

.btn-signup {
  text-decoration: none;
  color: white;
  font-size: larger;
  margin-right: 5%;
  margin-left: 1%;
  float: right;
  font-weight: 500;
}

.btn-bg {
  background-color: white;
  color: #3b0a79;
  padding: 0px 7px;
  border-radius: 5px;
}

.bg-purple {
  background-color: #3b0a79;
}
