.brandName {
  font-weight: bold;
  margin-left: 40px;
  font-size: 23px;
}

.btn-login {
  text-decoration: none;
  color: white;
  font-size: larger;
  float: right;
  font-weight: 500;
}

.btn-signup {
  text-decoration: none;
  color: white;
  font-size: larger;
  margin-right: 5%;
  margin-left: 3%;
  float: right;
  font-weight: 500;
}
